<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boot.mapper.AddressMapper">

    <resultMap id="AddressResult" type="boot.domain.Address">
        <association property="user" column="user_id" javaType="boot.domain.User" select="boot.mapper.UserMapper.selectByPrimaryKey" />
    </resultMap>


    <!--<select id="selectAddress" parameterType="int" resultMap="AddressResult">-->
        <!--select * from address where id = #{id}-->
    <!--</select>-->


</mapper>